<div class="container-spinner justify-content-center align-items-center w-100 d-flex" *ngIf="isLoading">
  <mat-spinner diameter="60" [style.width.px]="60" [style.height.px]="60"></mat-spinner>
</div>
<img [attr.data-source]="img" #imageEl class="hidden" [src]="baseApi + '/' + img" [style.width]="width" [alt]="alt"
  appHideMissing (showMossageImage)="showMissingImage($event)" (load)="onImageLoad($event)">
<img [src]="imageSourceNotFound" [style.width]="width" *ngIf="imageSourceNotFound" [alt]="imageSourceNotFound">
