<div class="container-users-tasks d-flex">
  <div class="container">
    <div class="col">
      <div class="row">
        <div class="section-card col-12 col-lg-3 col-md-4 col-sm-6">
          <mat-card class="example-card d-flex">
            <section class="section-one">
              <mat-card-header>
                <mat-card-title>Hydrogn</mat-card-title>
              </mat-card-header>
              <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
              <mat-card-content>
                <p class="card-dealline">Dead-Line Date: 10-11-2022</p>
                <p>1.0079</p>
              </mat-card-content>
            </section>

            <mat-card-actions>
              <button mat-raised-button>Details</button>
              <button mat-raised-button color="primary">Complete</button>


            </mat-card-actions>
          </mat-card>
        </div>
        <div class="section-card col-12 col-lg-3 col-md-4 col-sm-6">
          <mat-card class="example-card d-flex">
            <section class="section-one">
              <mat-card-header>
                <mat-card-title>Hydrogn</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="card-dealline">Dead-Line Date: 10-11-2022</p>
                <p>1.0079</p>
              </mat-card-content>
            </section>
            <mat-card-actions>
              <button mat-raised-button>Details</button>
              <button mat-raised-button color="primary">Complete</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="section-card col-12 col-lg-3 col-md-4 col-sm-6">
          <mat-card class="example-card d-flex">
            <section class="section-one">
              <mat-card-header>
                <mat-card-title>Hydrogn</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="card-dealline">Dead-Line Date: 10-11-2022</p>
                <p>1.0079</p>
              </mat-card-content>
            </section>
            <mat-card-actions>
              <button mat-raised-button>Details</button>
              <button mat-raised-button color="primary">Complete</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="section-card col-12 col-lg-3 col-md-4 col-sm-6">
          <mat-card class="example-card d-flex">
            <section class="section-one">
              <mat-card-header>
                <mat-card-title>Hydrogn</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="card-dealline">Dead-Line Date: 10-11-2022</p>
                <p>1.0079</p>
              </mat-card-content>
            </section>
            <mat-card-actions>
              <button mat-raised-button>Details</button>
              <button mat-raised-button color="primary">Complete</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="section-card col-12 col-lg-3 col-md-4 col-sm-6">
          <mat-card class="example-card d-flex">
            <section class="section-one">
              <mat-card-header>
                <mat-card-title>Hydrogn</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="card-dealline">Dead-Line Date: 10-11-2022</p>
                <p>1.0079</p>
              </mat-card-content>
            </section>
            <mat-card-actions>
              <button mat-raised-button>Details</button>
              <button mat-raised-button color="primary">Complete</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="section-card col-12 col-lg-3 col-md-4 col-sm-6">
          <mat-card class="example-card d-flex">
            <section class="section-one">
              <mat-card-header>
                <mat-card-title>Hydrogn</mat-card-title>
              </mat-card-header>
              <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
              <mat-card-content>
                <p class="card-dealline">Dead-Line Date: 10-11-2022</p>
                <p>1.0079</p>
              </mat-card-content>
            </section>

            <mat-card-actions>
              <button mat-raised-button>Details</button>
              <button mat-raised-button color="primary">Complete</button>


            </mat-card-actions>
          </mat-card>
        </div>
        <div class="section-card col-12 col-lg-3 col-md-4 col-sm-6">
          <mat-card class="example-card d-flex">
            <section class="section-one">
              <mat-card-header>
                <mat-card-title>Hydrogn</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="card-dealline">Dead-Line Date: 10-11-2022</p>
                <p>1.0079</p>
              </mat-card-content>
            </section>
            <mat-card-actions>
              <button mat-raised-button>Details</button>
              <button mat-raised-button color="primary">Complete</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="section-card col-12 col-lg-3 col-md-4 col-sm-6">
          <mat-card class="example-card d-flex">
            <section class="section-one">
              <mat-card-header>
                <mat-card-title>Hydrogn</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="card-dealline">Dead-Line Date: 10-11-2022</p>
                <p>1.0079</p>
              </mat-card-content>
            </section>
            <mat-card-actions>
              <button mat-raised-button>Details</button>
              <button mat-raised-button color="primary">Complete</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="section-card col-12 col-lg-3 col-md-4 col-sm-6">
          <mat-card class="example-card d-flex">
            <section class="section-one">
              <mat-card-header>
                <mat-card-title>Hydrogn</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="card-dealline">Dead-Line Date: 10-11-2022</p>
                <p>1.0079</p>
              </mat-card-content>
            </section>
            <mat-card-actions>
              <button mat-raised-button>Details</button>
              <button mat-raised-button color="primary">Complete</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="section-card col-12 col-lg-3 col-md-4 col-sm-6">
          <mat-card class="example-card d-flex">
            <section class="section-one">
              <mat-card-header>
                <mat-card-title>Hydrogn</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="card-dealline">Dead-Line Date: 10-11-2022</p>
                <p>1.0079</p>
              </mat-card-content>
            </section>
            <mat-card-actions>
              <button mat-raised-button>Details</button>
              <button mat-raised-button color="primary">Complete</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>


  </div>

</div>
