.container-users-tasks {
  .row {
    align-items: stretch;
  }

  padding-top: 43px;
}

.section-card {
  .example-card {
    flex-direction: column;
    justify-content: space-between;
  }

  margin-bottom: 20px;
}

.section-one {

  .mat-card-header {
    margin-bottom: 10px;
  }
}

.card-dealline {
  color: #8b8484;
}

:host ::ng-deep .mat-card-header {
  .mat-card-title {
    color: #3f51b5 !important;
    word-break: break-all;
  }
}

:host ::ng-deep .mat-card-header-text {
  margin: 0 0px !important;
}

:host ::ng-deep .mat-card {
  .mat-card-actions {
    margin-bottom: 0px !important;
    padding-bottom: 5px !important;
  }

  height: 100%;
}

.paginate {
  display: flex;
  justify-content: center;
  padding: 15px 0 25px 0;

  .ngx-pagination {
    margin: 0 !important;
  }
}

.container-spinner,
.card-spinner {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-spinner {
  height: calc(100vh - 69px);
}

.card-spinner {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}