<div class="container containerListTasks">

  <div class="containerFilteration col">

    <form [formGroup]="formFilteration">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{"users.name" | translate}}</mat-label>
            <input matInput name="name" formControlName="name">
          </mat-form-field>
        </div>

      </div>
    </form>

  </div>
  <div class="containerTable example-container position-relative mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 isMobile">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> {{"tasks.no" | translate}}. </th>
        <td class="image-td" mat-cell *matCellDef="let element, let index = index">
          <span class="mobile-label">{{"tasks.position" | translate}}:</span>
          {{index + 1}}
        </td>
      </ng-container>
      <!-- username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> {{"users.username" | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">{{"users.username" | translate}}:</span>

          {{element.username}}

        </td>

      </ng-container>

      <!-- user Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> {{"login.email" | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">{{"login.email" | translate}}:</span>

          {{element.email}}
        </td>
      </ng-container>

      <!-- deadLineData Column -->
      <ng-container matColumnDef="assignedTasks">
        <th mat-header-cell *matHeaderCellDef> {{"users.assignedTasks" | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">{{"users.assignedTasks" | translate}}:</span>

          {{element.assignedTasks}}
        </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> {{"tasks.status" | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">{{"tasks.status" | translate}}:</span>

          {{element.status}}
        </td>
      </ng-container>
      <!-- role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> {{"users.role" | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">{{"users.role" | translate}}:</span>

          {{element.role}}
        </td>
      </ng-container>
      <!-- actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{"tasks.actions" | translate}}</th>
        <td mat-cell *matCellDef="let element" class="columnActionTable">
          <button mat-raised-button color="primary" (click)="updateRow(element)">{{"tasks.update" | translate}}</button>
          <button mat-raised-button color="warn" (click)="deleteRow(element._id)">{{"tasks.delete" |
            translate}}</button>
          <div class="row-spinner" *ngIf="element._id && element.loading" id="spinner-{{element.id}}">
            <mat-spinner diameter="60" [style.width.px]="60" [style.height.px]="60"></mat-spinner>
          </div>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <!-- <mat-paginator [length]="100" [pageSize]="2" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">

    </mat-paginator> -->
    <mat-paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
      showFirstLastButtons [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>

    <div class="contentSpinner" *ngIf="isLoading">
      <mat-spinner diameter="60" [style.width.px]="60" [style.height.px]="60"></mat-spinner>
    </div>
  </div>



</div>