<div mat-dialog-title class="headerAddTask">
  <h1 class="m-0">{{"tasks.addnewtask" | translate}}</h1>
  <button class="header-close" mat-button (click)="onNoClick()">x</button>
</div>
<div class="formDialog">
  <form [formGroup]="newTaskForm" (submit)="createTask()">
    <div mat-dialog-content>


      <mat-form-field class="w-100" appearance="fill">
        <mat-label>{{"tasks.status" | translate}}</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let state of status" [value]="state.id">
            {{state.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="newTaskForm.get('status')?.hasError('required')">
          {{"tasks.statusis" | translate}}<strong>{{"tasks.required" | translate}}</strong>
        </mat-error>
      </mat-form-field>

    </div>
    <div mat-dialog-actions class="dialog-footer">
      <button mat-raised-button cdkFocusInitial color="primary" type="submit">{{"tasks.update" | translate}}</button>
      <button mat-raised-button cdkFocusInitial color="warn" type="button" (click)="onNoClick()">{{"tasks.close" |
        translate}}</button>
    </div>
  </form>
  <div class="contentSpinner" *ngIf="isLoaded">
    <mat-spinner></mat-spinner>
  </div>

</div>