<div class="container containerListTasks">
  <div class="header">
    <button mat-raised-button color="primary" (click)="openDialog()">{{"tasks.addtasks" | translate}}</button>
  </div>
  <div class="containerFilteration col">
    <form [formGroup]="formFilteration">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{"tasks.search" | translate}}</mat-label>
            <input matInput name="keyword" formControlName="keyword">

          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{"tasks.byuser" | translate}}</mat-label>
            <mat-select formControlName="userId">

              <mat-option *ngFor="let user of users" [value]="user.id">
                {{user.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{"tasks.status" | translate}}</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let state of status" [value]="state.id">
                {{state.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <mat-form-field appearance="fill">
            <mat-label>{{"tasks.enteradaterange" | translate}}</mat-label>
            <mat-date-range-input formGroupName="range" [rangePicker]="picker">
              <input matStartDate formControlName="fromDate" placeholder="Start date">
              <input matEndDate formControlName="toDate" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="containerTable example-container position-relative mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 isMobile">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> {{"tasks.no" | translate}}. </th>
        <td class="image-td" mat-cell *matCellDef="let element, let index = index">
          <span class="mobile-label">{{"tasks.position" | translate}}:</span>
          <app-not-found-image [image]="element.image" [alt]="element.title" [width]="'70px'"
            [height]="'70px'"></app-not-found-image>
        </td>
      </ng-container>
      <!-- title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> {{"tasks.title" | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">{{"tasks.title" | translate}}:</span>
          {{element.title}}
        </td>
      </ng-container>
      <!-- user Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> {{"tasks.user" | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">{{"tasks.user" | translate}}:</span>
          {{element.user}}
        </td>
      </ng-container>
      <!-- deadLineData Column -->
      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef> {{"tasks.deadline" | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">{{"tasks.deadline" | translate}}:</span>
          {{element.deadline}}
        </td>
      </ng-container>
      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> {{"tasks.status" | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">{{"tasks.status" | translate}}:</span>
          {{element.status}}
        </td>
      </ng-container>
      <!-- actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{"tasks.actions" | translate}}</th>
        <td mat-cell *matCellDef="let element" class="columnActionTable">
          <button mat-raised-button color="primary" (click)="updateRow(element)">{{"tasks.update" | translate}}</button>
          <button mat-raised-button color="warn" (click)="deleteRow(element._id)">{{"tasks.delete" |
            translate}}</button>

          <div class="row-spinner" *ngIf="element._id && element.loading" id="spinner-{{element.id}}">
            <mat-spinner diameter="60" [style.width.px]="60" [style.height.px]="60"></mat-spinner>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
      showFirstLastButtons [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
    <div class="contentSpinner" *ngIf="isLoading">
      <mat-spinner diameter="60" [style.width.px]="60" [style.height.px]="60"></mat-spinner>
    </div>
  </div>
</div>
