.content-taskDetails {
  padding: 40px 0;
}

.section-image {
  border: 1px solid gray;
  padding: 25px;
}

.action-button {
  text-align: right;
}

.card-dealline {
  margin-top: 26px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #b8b8b8;
  color: gray;
}

.container-spinner {
  height: calc(100vh - 69px);
}

.title {
  font-size: 19px;
}

// (min-width: 768px)
